TiendaVerduras/Connected Services/ValidacionLogin/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51112/LoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51112/LoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_VerificarAcceso_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarAcceso" />
  </wsdl:message>
  <wsdl:message name="IService_VerificarAcceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarAccesoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TraerDato_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerDato" />
  </wsdl:message>
  <wsdl:message name="IService_TraerDato_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerDatoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ComprobarDato_InputMessage">
    <wsdl:part name="parameters" element="tns:ComprobarDato" />
  </wsdl:message>
  <wsdl:message name="IService_ComprobarDato_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComprobarDatoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProducto" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarDatoProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDatoProductos" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarDatoProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDatoProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarDomicilio_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDomicilio" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarDomicilio_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDomicilioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BorrarPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrarPorId" />
  </wsdl:message>
  <wsdl:message name="IService_BorrarPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrarPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TraerIdDomicilio_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerIdDomicilio" />
  </wsdl:message>
  <wsdl:message name="IService_TraerIdDomicilio_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerIdDomicilioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarDetalleCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDetalleCompra" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarDetalleCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDetalleCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarStock_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarStock" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="VerificarAcceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VerificarAcceso" message="tns:IService_VerificarAcceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VerificarAccesoResponse" message="tns:IService_VerificarAcceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CrearUsuario" message="tns:IService_CrearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CrearUsuarioResponse" message="tns:IService_CrearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerDato">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/TraerDato" message="tns:IService_TraerDato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/TraerDatoResponse" message="tns:IService_TraerDato_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComprobarDato">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ComprobarDato" message="tns:IService_ComprobarDato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ComprobarDatoResponse" message="tns:IService_ComprobarDato_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarProducto" message="tns:IService_AgregarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarProductoResponse" message="tns:IService_AgregarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatoProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ActualizarDatoProductos" message="tns:IService_ActualizarDatoProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ActualizarDatoProductosResponse" message="tns:IService_ActualizarDatoProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarDomicilio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarDomicilio" message="tns:IService_AgregarDomicilio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarDomicilioResponse" message="tns:IService_AgregarDomicilio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrarPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BorrarPorId" message="tns:IService_BorrarPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BorrarPorIdResponse" message="tns:IService_BorrarPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerIdDomicilio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/TraerIdDomicilio" message="tns:IService_TraerIdDomicilio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/TraerIdDomicilioResponse" message="tns:IService_TraerIdDomicilio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarDetalleCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarDetalleCompra" message="tns:IService_AgregarDetalleCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarDetalleCompraResponse" message="tns:IService_AgregarDetalleCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ActualizarStock" message="tns:IService_ActualizarStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ActualizarStockResponse" message="tns:IService_ActualizarStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarAcceso">
      <soap:operation soapAction="http://tempuri.org/IService/VerificarAcceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerDato">
      <soap:operation soapAction="http://tempuri.org/IService/TraerDato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobarDato">
      <soap:operation soapAction="http://tempuri.org/IService/ComprobarDato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarProducto">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatoProductos">
      <soap:operation soapAction="http://tempuri.org/IService/ActualizarDatoProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarDomicilio">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarDomicilio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarPorId">
      <soap:operation soapAction="http://tempuri.org/IService/BorrarPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerIdDomicilio">
      <soap:operation soapAction="http://tempuri.org/IService/TraerIdDomicilio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarDetalleCompra">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarDetalleCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarStock">
      <soap:operation soapAction="http://tempuri.org/IService/ActualizarStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:51112/LoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>